<!DOCTYPE html>
<html>
    <head>
        <title> example </title>
        <style>
            body{text-align: center};
        </style>
    </head>
    <body>
        <div class="container">
                <div>
                    <h2>username 님의 프로필</h2>
                    <br>
                    <h3>[글 모음]</h3>

                    <!--for문이 들어갈 곳--> 

                    <p><b> 제목 :</b></p>
                    <br>
                    작성일: <br>
                    내용: <br>
                    <a >...more</a>
                    <br><br>
                </div>
        </div>
    </body>
</html>